<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color : aliceblue">Angular account</h1>
    <div class="d-flex">
      <button (click)="clickAddAccount()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add Account</button>
      <button routerLink="/login" class="btn btn-danger mx-2">Logout</button>
<!--      <button (click)="getSUerAccount()" class="btn btn-outline-danger mx-3">Update</button>-->
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
  <tr>
    <th scope="col">Account Id</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email ID</th>
    <th scope="col">Password</th>
    <th scope="col">Mobile No.</th>
    <th scope="col">Department</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of accountData">
    <td>{{row.id}}</td>
    <td>{{row.firstname}}</td>
    <td>{{row.lastname}}</td>
    <td>{{row.email}}</td>
    <td>{{row.password}}</td>
    <td>{{row.mobile}}</td>
    <td>{{row.department}}</td>

    <td>
      <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-info">Edit</button>
      <button (click)="deleteAccount(row)" class="btn btn-danger mx-3">Delete </button>
<!--      <button (click)="deleteUserAccount(row)" class="btn btn-danger mx-3">Delete2 </button>-->
    </td>
    <td></td>
  </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Account Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">First Name</label>
            <input type="text" formControlName="firstname" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Last Name</label>
            <input type="text" formControlName="lastname" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
            <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Department</label>
            <input type="text" formControlName="department" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postAccountDetailes()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="showUpdate" (click)="updateAccountDetailes()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
